<div class="card">
    <section class="comment card-body">
        <div class="text">
            {{comments.description}}
        </div>
        <div class="meta">
            {{user.username}}, {{comments.date_created}}
        </div>
    </section>
</div>
