<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div>
                      <div class="navbar-nav">
                        <a href="/">Home</a>
                        <a href="/dashboard">Dashboard</a>
                      
                        <a href="/">Logout</a>
                        
                        <a href="/login">Login</a>
                        
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="row">
                <h2>Tech Blog</h2>
            </div>
    </header>
    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/js/login.js"></script>
    {{/if}}
</body>
</html>