<div class="comments">
  <div>
    <div class="card">
      <div class="card-header row col-12">
          <h2 class="col-6">{{blogs.title}}</h2>
          <h2 class="col-6">posted by {{blogs.user.username}} on {{blogs.date_created}}</h2>
      </div>
      <div class="card-body">
          <p class="card-text">{{blogs.description}}</p>
      </div>
    </div>
  </div>
  <div>
    <form class="comment-form">
      <label>Leave Comment Here:</label>
      <input name="comment-body"></input>
      <button type="submit">Add</button>
    </form>
  </div>
  <br>
  <div>
    <h3 class="card-header">Comment Section:</h3>
    {{#each blogs as |comments|}}
      {{> comments}}
    {{/each}}
   
  </div>
</div>
<script src="/js/comment.js"></script>
