<section>
  <div>
    <h2>Your Posts</h2>
      {{#each blog as |mypost|}}
        {{> mypost}}
      {{/each}}
  </div>
</section>


<footer class="footer flex-row justify-center">
    <a href='/dashboard/new'>➕ New Post</a>
</footer>

<script src="/js/create-post.js"></script>